<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--数据库配置-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxActive" value="60" />   <!--maxActive: 最大连接数量 -->
        <property name="initialSize" value="20" /> <!--initialSize: 初始化连接 -->
        <property name="minIdle" value="10" />     <!--minIdle: 最小空闲连接 -->
        <property name="maxIdle" value="20" />     <!--maxIdle: 最大空闲连接 -->
        <property name="maxWait" value="2000" />   <!--maxWait: 超时等待时间以毫秒为单位 6000毫秒/1000等于6秒 -->
        <property name="removeAbandoned" value="true" />   <!--removeAbandoned: 是否自动回收超时连接 -->
        <property name="defaultAutoCommit" value="true" />
        <property name="testOnBorrow"> <!--防止 Could not close JDBC Connection -->
            <value>true</value>
        </property>
        <property name="validationQuery">
            <value>SELECT 1 FROM DUAL</value>
        </property>
    </bean>
    <!--使用properties文件的配置-->
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- 标准配置 -->
                <value>classpath:config/config.properties</value>
            </list>
        </property>
    </bean >

    <!--通过id号来启动某个类-->
    <bean id="adminEvent" class="event.AdminEvent"/>

    <!--应用上下文，目前还不能使用-->
    <bean id = "springContext" class="Utils.SpringContext"/>
    <!-- 扫描指定包带@Controller注解的类-->
    <context:component-scan base-package="service,Dao"></context:component-scan>
</beans>